
/* step 1 */
Body {
  background-color: lightblue;
  font-family: arial, sans-serif;
  color: purple;
  margin: 0;
}
/* step 2 */
h1 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  padding: 20px;
  background-color: gold;
}
/* step 3 */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: lightgray;
  display: flex;
  justify-content: center;
}

nav a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 15px 25px;
  transition: background-color .3s;
}

nav a:hover {
  background-color: navy;
  color: white;
}
/* step 4 */
section {
  background-color: white;
  margin: 20px;
  padding: 20px;
  border: 1px solid gray;
  box-shadow: 2px 2px 8px gray;
  transition: transform .3s;
}
/* step 5 */
footer {
  font-size: 18px;
  text-align: center;
  background-color: navy;
  color: white;
  padding: 20px;
}
nav a:hover {
  background-color: blue;
}
section:hover {
  transform: scale(1.02);
}
table {
  border-collapse: collapse;
  width: 100%;
}
th {
  background-color: blue;
  color: white;
}
th,
td {
  border: 2px solid black;
  padding: 12px;
}
tbody td:first-child {
  background-color: yellow;
}
main section {
  transition: transform .3s ease;
}
main section:hover {
  transform: scale(1.02);
}
